
@{
    ViewBag.Title = "PhoneList";
}

    <h4>Điện thoại </h4>
    <div style="margin-top:100px;">
        <ul class="thumbnails" style="float:left">
            @*
                <li class="span3">
                    <div class="thumbnail">
                        <a href="product_details.html"><img src="themes/images/products/6.jpg" alt="" /></a>
                        <div class="caption">
                            <h5>Product name</h5>
                            <p>
                                Lorem Ipsum is simply dummy text.
                            </p>

                            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
                        </div>
                    </div>
                </li>

                <li class="span3">
                    <div class="thumbnail">
                        <a href="product_details.html"><img src="themes/images/products/7.jpg" alt="" /></a>
                        <div class="caption">
                            <h5>Product name</h5>
                            <p>
                                Lorem Ipsum is simply dummy text.
                            </p>
                            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
                        </div>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail">
                        <a href="product_details.html"><img src="themes/images/products/8.jpg" alt="" /></a>
                        <div class="caption">
                            <h5>Product name</h5>
                            <p>
                                Lorem Ipsum is simply dummy text.
                            </p>
                            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
                        </div>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail">
                        <a href="product_details.html"><img src="themes/images/products/9.jpg" alt="" /></a>
                        <div class="caption">
                            <h5>Product name</h5>
                            <p>
                                Lorem Ipsum is simply dummy text.
                            </p>
                            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
                        </div>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail">
                        <a href="product_details.html"><img src="themes/images/products/10.jpg" alt="" /></a>
                        <div class="caption">
                            <h5>Product name</h5>
                            <p>
                                Lorem Ipsum is simply dummy text.
                            </p>
                            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
                        </div>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail">
                        <a href="product_details.html"><img src="themes/images/products/11.jpg" alt="" /></a>
                        <div class="caption">
                            <h5>Product name</h5>
                            <p>
                                Lorem Ipsum is simply dummy text.
                            </p>
                            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
                        </div>
                    </div>
                </li>
            </ul>
            <h4>Laptop </h4>
            <ul class="thumbnails">
                <li class="span3">
                    <div class="thumbnail">
                        <a href="product_details.html"><img src="themes/images/products/6.jpg" alt="" /></a>
                        <div class="caption">
                            <h5>Product name</h5>
                            <p>
                                Lorem Ipsum is simply dummy text.
                            </p>

                            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
                        </div>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail">
                        <a href="product_details.html"><img src="themes/images/products/7.jpg" alt="" /></a>
                        <div class="caption">
                            <h5>Product name</h5>
                            <p>
                                Lorem Ipsum is simply dummy text.
                            </p>
                            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
                        </div>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail">
                        <a href="product_details.html"><img src="themes/images/products/8.jpg" alt="" /></a>
                        <div class="caption">
                            <h5>Product name</h5>
                            <p>
                                Lorem Ipsum is simply dummy text.
                            </p>
                            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
                        </div>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail">
                        <a href="product_details.html"><img src="themes/images/products/9.jpg" alt="" /></a>
                        <div class="caption">
                            <h5>Product name</h5>
                            <p>
                                Lorem Ipsum is simply dummy text.
                            </p>
                            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
                        </div>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail">
                        <a href="product_details.html"><img src="themes/images/products/10.jpg" alt="" /></a>
                        <div class="caption">
                            <h5>Product name</h5>
                            <p>
                                Lorem Ipsum is simply dummy text.
                            </p>
                            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
                        </div>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail">
                        <a href="product_details.html"><img src="themes/images/products/11.jpg" alt="" /></a>
                        <div class="caption">
                            <h5>Product name</h5>
                            <p>
                                Lorem Ipsum is simply dummy text.
                            </p>
                            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
                        </div>
                    </div>
                </li>
            </ul>
            <h4>Phụ kiện </h4>
            <ul class="thumbnails">
                <li class="span3">
                    <div class="thumbnail">
                        <a href="product_details.html"><img src="themes/images/products/6.jpg" alt="" /></a>
                        <div class="caption">
                            <h5>Product name</h5>
                            <p>
                                Lorem Ipsum is simply dummy text.
                            </p>

                            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
                        </div>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail">
                        <a href="product_details.html"><img src="themes/images/products/7.jpg" alt="" /></a>
                        <div class="caption">
                            <h5>Product name</h5>
                            <p>
                                Lorem Ipsum is simply dummy text.
                            </p>
                            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
                        </div>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail">
                        <a href="product_details.html"><img src="themes/images/products/8.jpg" alt="" /></a>
                        <div class="caption">
                            <h5>Product name</h5>
                            <p>
                                Lorem Ipsum is simply dummy text.
                            </p>
                            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
                        </div>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail">
                        <a href="product_details.html"><img src="themes/images/products/9.jpg" alt="" /></a>
                        <div class="caption">
                            <h5>Product name</h5>
                            <p>
                                Lorem Ipsum is simply dummy text.
                            </p>
                            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
                        </div>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail">
                        <a href="product_details.html"><img src="themes/images/products/10.jpg" alt="" /></a>
                        <div class="caption">
                            <h5>Product name</h5>
                            <p>
                                Lorem Ipsum is simply dummy text.
                            </p>
                            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
                        </div>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail">
                        <a href="product_details.html"><img src="themes/images/products/11.jpg" alt="" /></a>
                        <div class="caption">
                            <h5>Product name</h5>
                            <p>
                                Lorem Ipsum is simply dummy text.
                            </p>
                            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
                        </div>
                    </div>
                </li>
            *@

            @Html.Action("dtiphonePartial", "Sanpham")



            @Html.Action("dtsamsungpartial", "Sanpham")


            @Html.Action("dtxiaomipartial", "Sanpham")

        </ul>
    </div>

